BODY {
  margin:0px;
  padding:0px;
  height: 100vh;
  overflow: hidden;
}
TD { text-align:center; background-color:white; }
table {
  border-collapse: collapse;
  height: 81vh;
  width: 100%;
  font-size:3em;
  table-layout: fixed
}
input[type="text"] {
  width:100%;
  font-size:5em;
}
 
td, th {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: clamp(1em, 1vw, 32px);
}
 
.highlight_cols { background-color:yellow; color:black; }
.highlight_rows { background-color:red; color:white; }
 
.highlight_cols.highlight_rows {
  background-color: orange;
  border: 1px solid black;
  color:white;
}
TH { display:none; }

#turnSignal {
  position: fixed;
  top: 0;
  right: 0;
  height:100px;
  width:100px;
  margin: 10px; 
  background-color: blue;
  color:white;
  font-size:5em;
  text-align:center;
}
#keyboard {
  font-family: monospace;
}
#predict {
  font-family: monospace;
}
#keyEntry {
  font-family: monospace;
  font-size:5em;
  height: 1.25em;
  border: 1px solid gray;
  background-color:rgb(216, 216, 216);
}
/*#textValue {
}*/
#predictText {
  display:inline-block;
  font-weight:strong; 
  color:red;
}
#wordList {
  display:none;
}